---
import { Image } from "astro:assets";
import Layout from "../layouts/BaseLayout.astro";
import NavigationBar from "../layouts/NavigationBar.astro";
import HeroBanner from "../layouts/HeroBanner.astro";
import MaxWidthContainer from "../components/MaxWidthContainer.astro";
import Section from "../layouts/Section.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Link from "../components/Link.astro";
import VideoCarousel from "../layouts/VideoCarousel.astro";
import Dropdown from "../components/Dropdown.astro";
import Events from "../layouts/Events.astro";
import Footer from "../layouts/Footer.astro";
import Watermark from "../components/Watermark.astro";
import missionImageOne from "../assets/our-mission-1.webp";
import missionImageTwo from "../assets/our-mission-2.webp";
import childBibleStudy from "../assets/bible-study-children.webp";
import teenBibleStudy from "../assets/bible-study-teens.webp";
import adultBibleStudy from "../assets/bible-study-adults.webp";
---

<Layout title="Christ Church Sedalia">
  <NavigationBar variant="wide" />
  <main>
    <HeroBanner
      variant="landing"
      heading="Christ Church Sedalia"
      description="A Reformed Baptist Church unashamedly preaching, teaching, and living the gospel of Jesus Christ."
    >
      <Link variant="primary" to="/bible-studies" text="Bible study" />
      <Link variant="secondary" to="/our-beliefs" text="Our mission" />
    </HeroBanner>
    <Section variant="landing" id="our-beliefs">
      <MaxWidthContainer variant="wide">
        <div class="container center">
          <div class="text-container">
            <SectionHeader>
              <h2>Our Mission</h2>
            </SectionHeader>
            <p>
              Our mission is to unashamedly preach, teach, and live the gospel of Jesus Christ to
              the glory of God. With deep roots in the Reformed tradition, our church community
              passionately embraces their faith, boldly proclaiming the message of salvation through
              Christ.
            </p>
            <p>
              At the heart of our ministry is our dedication to teaching the gospel of Jesus Christ.
              Our commitment to sound, biblical doctrine ensures that every member is equipped with
              a deep understanding of Jesus Christ.
            </p>
            <p>
              We aim to impact the community through true biblical proclamation and by educating
              those who are called to know more about Jesus Christ.
            </p>
            <Link variant="tertiary" to="/our-beliefs" text="Read more about us" />
          </div>
          <div class="image-container">
            <Image src={missionImageTwo} alt="Image of a church during sunset." class="small" />
            <Image
              src={missionImageOne}
              alt="Image of a church against a blue sky."
              class="large"
            />
          </div>
        </div>
      </MaxWidthContainer>
    </Section>
    <Section variant="paper" id="media-hub">
      <div class="no-overflow">
        <MaxWidthContainer variant="wide">
          <div class="text-container">
            <SectionHeader variant="inverted">
              <h2>Media Hub</h2>
            </SectionHeader>
            <p>
              Sharing the truths of Jesus Christ through media. New sermons are uploaded every
              Sunday through our Facebook page.
            </p>
            <div class="links">
              <Link variant="tertiary" to="/media-hub" text="View all videos" />
              <Link
                variant="no-decoration"
                to="https://www.facebook.com/people/Christ-Church-Sedalia/100091224970790/"
                text="Our Facebook page"
                external={true}
              />
            </div>
          </div>
          <VideoCarousel />
        </MaxWidthContainer>
      </div>
    </Section>
    <Section variant="landing" id="bible-studies">
      <MaxWidthContainer variant="wide">
        <div class="container">
          <div class="text-container">
            <SectionHeader>
              <h2>Bible Studies</h2>
            </SectionHeader>
            <p>
              We aim to teach the gospel of Jesus Christ in easy to digest, bite-sized pieces.
              Perfect for children and anyone unfamiliar with the gospel.
            </p>
            <Link variant="tertiary" to="/bible-studies" text="All of our bible studies" />
          </div>
          <div class="dropdown-container">
            <Dropdown
              open={true}
              summary="Child Bible Studies"
              content={`We teach children the gospel by studying New City Catechism. Catechisms allow children to easily understand truths of the gospel through bite-sized pieces. Each week builds upon the last which ultimately allows children to understand complex ideas about the gospel in an easy way.`}
              image={childBibleStudy}
              imageAlt="Children laughing and hugging."
            />
            <Dropdown
              open={true}
              summary="Teen Bible Studies"
              content={`We teach teenagers similarly to how we teach our children: in bite-sized pieces. However, we add a bit more complexity to our teachings each week. This allows teens to learn faster than our children without being too overwhelmed.`}
              image={teenBibleStudy}
              imageAlt="Picture of teenagers standing together and talking."
            />
            <Dropdown
              open={true}
              summary="Adult Bible Studies"
              content={`With our adult bible studies, we can go in one of two ways: normal bible-study (where the teachings are more complex), or bite-sized (like our other studies). If a particular group is already familiar with the teachings of Jesus Christ, we study the bible in a typical fashion. However, if a group of adults is unfamiliar with the gospel, we have found that it's easier to go the bite-sized approach.`}
              image={adultBibleStudy}
              imageAlt="Picture of adults, during a sunset, holding hands with their backs towards the camera."
            />
          </div>
        </div>
      </MaxWidthContainer>
      <Watermark />
    </Section>
    <Section variant="paper" id="events">
      <MaxWidthContainer variant="wide">
        <div class="container center">
          <div class="text-container">
            <SectionHeader variant="inverted">
              <h2>Events</h2>
            </SectionHeader>
            <p>We'll update here with our latest events where anyone and everyone is welcome.</p>
            <Link variant="tertiary" to="/events" text="View all events" />
          </div>
          <Events variant="limited" />
        </div>
      </MaxWidthContainer>
    </Section>
    <section id="join">
      <MaxWidthContainer variant="wide">
        <div class="container">
          <div class="text-container">
            <SectionHeader variant="no-decoration">
              <h2>Join Us</h2>
            </SectionHeader>
            <p>Everyone is welcome! We'd love to have you.</p>
            <div class="links">
              <Link variant="primary" to="/bible-studies" text="Join our bible study" />
              <Link variant="secondary" to="/contact-us" text="Contact us" />
            </div>
          </div>
          <div class="decorations-container">
            <div class="circle"></div>
            <div class="thorns"></div>
          </div>
        </div>
      </MaxWidthContainer>
    </section>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  @use "../styles/tokens/tokens" as t;

  :global(section#our-beliefs) {
    $bp-two-images: 68rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23efefef' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");

    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      max-width: t.$w-container;

      @media (min-width: t.$bp-desktop) {
        max-width: 100%;
      }

      @media (min-width: $bp-two-images) {
        gap: min(8vw, 8rem);
      }
    }

    .text-container,
    .image-container {
      @media (min-width: t.$bp-desktop) {
        flex: 1;
      }
    }

    p {
      color: t.$clr-grey;

      &:not(:last-of-type) {
        margin-bottom: 0.75rem;
      }

      &:last-of-type {
        margin-bottom: 1.5rem;
      }
    }

    .image-container {
      min-height: 21rem;
      perspective: 62.5rem;

      &:hover img.small {
        transform: translate3d(-0.125rem, -25%, 6.25rem);
      }

      &:hover img.large {
        transform: translateX(0.125rem);
      }

      @media (min-width: t.$bp-desktop) {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      @media (min-width: $bp-two-images) {
        max-height: 27rem; /* Magic number */
      }
    }

    .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: t.$br-main;
      transition: all 350ms ease-in-out;
    }

    .image-container img.small {
      grid-column: 1 / span 3;
      grid-row: 3;
      z-index: 2;
      max-height: 9rem;
      box-shadow: t.$s-main;
      transform: translate3d(0, -25%, 6.25rem);

      @media (max-width: $bp-two-images) {
        display: none;
      }
    }

    .image-container img.large {
      grid-column: 2 / -1;
      grid-row: 1 / -1;
      box-shadow: t.$s-main;
    }
  }

  :global(section#media-hub) {
    padding: 0;
    margin-bottom: 0.75rem; // texture background appears on top of paper rip image, so give it some breathing room

    .no-overflow {
      overflow: hidden;
      padding: t.$pd-section;
    }

    .text-container {
      max-width: t.$w-container;
    }

    p {
      color: t.$clr-grey;

      &:last-of-type {
        margin-bottom: 1.5rem;
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
    }
  }

  :global(section#bible-studies) {
    position: relative;
    overflow: hidden; /* For watermark */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23efefef' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");

    .container {
      width: 100%;
    }

    p {
      color: t.$clr-grey;
    }

    .text-container {
      max-width: t.$w-container;
      margin-left: auto;

      p {
        margin-bottom: 1.5rem;
      }
    }

    .dropdown-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 4rem;

      @media (min-width: t.$bp-tablet) {
        gap: 3rem;
        margin-top: 4rem;
      }

      @media (min-width: t.$bp-desktop) {
        gap: 6rem;
        margin-top: 8rem;
      }
    }

    :global(.watermark-container) {
      right: 0;
      left: auto;
      transform: translate(30%, 40%);
    }
  }

  :global(section#events) {
    .container {
      max-width: t.$w-container;

      @media (min-width: t.$bp-desktop) {
        max-width: 100%;
      }
    }

    .text-container {
      p {
        color: t.$clr-grey;
        margin-bottom: 1.5rem;
      }
    }
  }

  section#join {
    padding: calc(t.$pd-block * 2.5) t.$pd-inline;
    overflow: hidden;
    background: center / cover no-repeat url("../assets/join-background.webp");

    :global(.max-width) {
      display: flex;
    }

    :global(.section-header) {
      color: white;
    }

    .container {
      display: grid;
      margin: auto;
      color: t.$clr-tan;
      text-align: center;
    }

    .text-container {
      grid-column: 1;
      grid-row: 1;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      max-width: 28rem;

      @media (min-width: t.$bp-tablet) {
        gap: 2rem;
      }

      .links {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
      }

      :global(.section-header) {
        margin: 0;
      }
    }

    .decorations-container {
      position: relative;
      grid-column: 1;
      grid-row: 1;

      .circle,
      .thorns {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }

      .circle {
        z-index: 2;
        width: clamp(32rem, 32rem + 6vw, 40rem);
        height: clamp(32rem, 32rem + 6vw, 40rem);
        box-shadow: t.$s-main;
        background: center / cover url("../assets/paper-background.webp") t.$clr-black;
        transform: translate(-50%, -50%);
      }

      .thorns {
        z-index: 1;
        background: center / contain no-repeat url("../assets/thorns.webp");
        border-radius: 100%;
        width: clamp(42rem, 42rem + 6vw, 50rem);
        height: clamp(42rem, 42rem + 6vw, 50rem);
      }
    }
  }
</style>
